input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:focus,a:visited,a:active{
  outline: none;
}
* {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: rgb(207, 223, 236);
}

#Construction {
    font-size: xx-large;
}